
#newu {
    color: limegreen;
    font-size: 30px;
    word-spacing: 5px;

}

#forgot {
    color: red;
    font-size: 30px;
    word-spacing: 5px;
}

.my-form {
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.form-group label {
    display: block;
}

.form-group input  {
    padding: 10px ;
    width: 40% ;
}

.click {
    background: #333;
    color: #fff;
    padding: 10px;
    word-spacing: 5px;
}
